

/* RESET RULES */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: white;
    font-family: 'Fredoka', sans-serif;
}

.container{
    max-width: 800px;
    margin: 0 auto;
}

footer {
    background-color: #222222 ;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-both{
    clear: both;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* FINE RESET RULES */

.title {
    font-size: 30px;
    font-weight: 600;
    color: #E53170;
    text-align: center;
}








/* DEBUG RULES */

.debug .container {
    border: 1px solid red;
    padding: 30px;
}

.debug .col{
    border: 1px solid red;
    padding: 30px;
    max-width: 300px;
    max-height: 100px;
}
