

/* RESET RULES */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

img {
    max-width: 100%;
    
}

body {
    background-color: white;
    font-family: 'Fredoka', sans-serif;
}

/*  -------- */

.title {
    font-size: 30px;
    font-weight: 600;
    color: #E53170;
    text-align: center;
}


.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;

}

footer {
    background-color: #222222 ;
    color: white;
}

.col {
    float: left;
    width: calc((100% - 30px) / 3);
    margin-right: 15px;
    margin-bottom: 30px;
    min-width: 100px;
    background-color: #100E17;
    box-shadow: 0 0 8px #100E17;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
 

.col:nth-child(3n+3){
    margin-right: 0;
}



.card {
    float: left;
    width: calc(100% / 3);
    
}

.card img{
    display: block;
}

.card-description {
    color: white;
    margin: 10px ;
    display: inline-block;
    line-height: 30px;
}

.nome{
    font-size: 21px;

}

.lavoro, .email {
    font-weight: 300;
    
} 

.email{
    color: #3AA3DE;
}
 
div > p.description { 
    font-size: 22px;
    text-align: justify;
    text-align-last: center;
}





/* DEBUG RULES */

/* .debug .container {
    border: 1px solid red;
    
}

.debug .col{
    border: 1px solid red;
    
}

.debug.card{

    border: 1px solid blue;
} */
